@model IEnumerable<DatabaseProject.Models.Student>

@{
    ViewBag.Title = "AssignedStudentsCourses";
}

<h2>Current assigned students with thier courses</h2>

@Html.DropDownList("Major",ViewBag.Majors as SelectList, new { @class="form-select w-25"})
<table class="table">
    <tr>
        <th>
            Student ID
        </th>
        <th>
            Student Name
        </th>
        <th>
            Major
        </th>
        <th>
            Course Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    foreach (var course in item.courses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f_name) @Html.DisplayFor(modelItem => item.l_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.name)
            </td>
        </tr>
    }
}

</table>
