@model DatabaseProject.Models.GraduationPlan

@{
    ViewBag.Title = "GradPlan";
}

<h2>GradPlan</h2>

<div class="mt-2">
    @Html.ActionLink("Create New GradPlan", "InsertGradPlan", new { student_id = Request.QueryString["student_id"] }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Course", "InsertCourseGradPlan", new { student_id = Request.QueryString["student_id"] }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Update Grad Date", "UpdateGradPlan", new { student_id = Request.QueryString["student_id"] }, new { @class = "btn btn-primary" })
</div>
<div class="card mt-3">
    <div class="card-body row">
        <div class="col">
            <p class="m-0">
                PlanId: @Html.DisplayFor(model => model.plan_id)
                <br />
                Expected graduation date: @Html.DisplayFor(model => model.expected_grad_date)
            </p>
        </div>
        <div class="col">
            <p class="m-0">
                StudentId: @Request.QueryString["student_id"]
                <br />
                Student Name: @Html.DisplayFor(model => model.student.f_name) @Html.DisplayFor(model => model.student.l_name)
            </p>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Semester Code
        </th>
        <th>
            Credit Hours
        </th>
        <th>
            Course Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.semesters)
    {
        <!--loop over the courses and display them-->
        foreach (var course in item.courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.semester_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.credit_hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => course.name)
                </td>
                <td>
                    @Html.ActionLink("Delete","DeleteCourseFromGradPlan",new { student_id = Request.QueryString["student_id"], sem_code = item.semester_code, course_id = course.course_id},new { @class = "btn btn-danger"})
                </td>
            </tr>
        }
    }

</table>
