@model IEnumerable<DatabaseProject.Models.Student>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<table class="table">
    <tr>
        <th>
            Student ID
        </th>
        <th>
            Full Name
        </th>
        <th>
            GPA
        </th>
        <th>
            Faculty
        </th>
        <th>
            Major
        </th>
        <th>
            Semester
        </th>
        <th>
            Acquired Hours
        </th>
        <th>
            Assigned Hours
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f_name) @Html.DisplayFor(modelItem => item.l_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.major)
            </td>
            <td>
                Semester
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.acquired_hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.assigned_hours)
            </td>
            @if (item.acquired_hours >= 157)
            {
            <td>
                @Html.ActionLink("GradPlan", "GradPlan", new { student_id = item.student_id }, new { @class = "btn btn-outline-primary" })
            </td>
            }
            else {
                <td></td>
            }
        </tr>
    }

</table>
