@model IEnumerable<DatabaseProject.Models.Course_Prerequisite>

@{
    ViewBag.Title = "AllCoursesPrerequisites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Courses Prerequisites</h2>

<table class="table">
    <tr>
        <th>
            Course ID
        </th>
        <th>
            Name
        </th>
        <th>
            Major
        </th>
        <th>
            Is offered
        </th>
        <th>
            Credit Hours
        </th>
        <th>
            Semester
        </th>
        <th>
            preRequsite_course_id
        </th>
        <th>
            preRequsite_course_name
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.course.course_id)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.course.name)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.course.major)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.course.is_offered)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.course.credit_hours)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.course.semester)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.prerequisiteCourse.course_id)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.prerequisiteCourse.name)
        </td>
    </tr>
}

</table>
