
@{
    ViewBag.Title = "ChooseInstructorForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose Instructor Form</h2>


@using (Html.BeginForm("ChooseInstructor", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Student</h4>
    <hr />

    <div class="form-group mt-2">
        <label class="control-label col-md-2">Course ID</label>
        <div class="col-md-10">
            @Html.DropDownList("course_id", ViewBag.Courses as SelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group mt-2">
        <label class="control-label col-md-2">Instructor Code</label>
        <div class="col-md-10">
            @Html.DropDownList("instructor_id", ViewBag.Instructors as SelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group mt-2">
        <label class="control-label col-md-2">Semester Code</label>
        <div class="col-md-10">
            @Html.DropDownList("current_semester_code", ViewBag.Semesters as SelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


