@model DatabaseProject.Models.GraduationPlan

@{
    ViewBag.Title = "GraduationPlan";
}

<h2>GraduationPlan</h2>

<p>
    PlanId: @Html.DisplayFor(model => model.plan_id)
    <br />
    StudentId: @Html.DisplayFor(model => model.student.student_id)
</p>
<table class="table">
    <tr>
        <!--display column header as follow: semeseter code, credit hours-->
        <th>
            Semester Code
        </th>
        <th>
            Credit Hours
        </th>
    </tr>

    @foreach (var item in Model.semesters)
    {
        <tr>
            <!--loop over the courses and display them-->
            @foreach (var course in item.courses)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.semester_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.credit_hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => course.name)
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
