@model DatabaseProject.Models.Student

@{
    ViewBag.Title = "Login";
}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-5 mx-auto">
        <div class="myform form">
            <div class="logo mb-3">
                <div class="col-md-12 text-center">
                    <h1>Login</h1>
                </div>
            </div>
            @using (Html.BeginForm("loginStudent", "Student", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <!-- Alert section-->
                <div class="alert alert-danger @(TempData["LoginError"] == null?"d-none":"")" name="error" role="alert">
                    @TempData["LoginError"]
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="student_id">UserID</label>
                    @Html.EditorFor(model => model.student_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "UserID", type = "text" } })
                    @Html.ValidationMessageFor(model => model.student_id, "", new { @class = "text-danger" })
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <div class="input-group" style="direction: initial;">
                        <input class="form-control text-box single-line" data-val="true" data-val-required="Password is Required. It cannot be empty" id="password" name="password" placeholder="Password" type="password" value="">
                        <button type="button" class="btn btn-outline-secondary togglePassword">
                            <i class="bi bi-eye-slash"></i>
                        </button>
                    </div>
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
                <!-- Submit button -->
                <button type="submit" id="login" class=" btn btn-primary btn-block mb-4 w-100">Login</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".togglePassword").on("click", function () {
                console.log("clicked");
                if ($(this).parent().find(".form-control").attr("type") == "password") {
                    $(this).parent().find(".form-control").attr("type", "text");
                    $(this).find(".bi").attr("class", "bi bi-eye");
                } else {
                    $(this).parent().find(".form-control").attr("type", "password");
                    $(this).find(".bi").attr("class", "bi bi-eye-slash");
                }
            });
        });
    </script>
}
