@model IEnumerable<DatabaseProject.Models.Course>

@{
    ViewBag.Title = "optionalCourses";
}

<h2>optionalCourses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.course_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_offered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credit_hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semester)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.course_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.major)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_offered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credit_hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semester)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
