@model IEnumerable<DatabaseProject.Models.Course_Slot_Instructor>

@{
    ViewBag.Title = "ViewSlots";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewSlots</h2>
<table class="table">
    <tr>
        <th>
            Course ID
        </th>
        <th>
            Course name
        </th>
        <th>
            Slot ID
        </th>
        <th>
            Day
        </th>
        <th>
            Time
        </th>
        <th>
            Location
        </th>
        <th>
            Instructor ID
        </th>
        <th>
            Instructor Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.course.course_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.slot.slot_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.slot.day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.slot.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.slot.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instructor.instructor_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instructor.name)
            </td>
        </tr>
    }

</table>
