<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Database Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link active" })</li>
                    <li class="nav-item">@Html.ActionLink("Dashboard", "Index", null, new { @class = "nav-link active" })</li>
                    @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Advisor")
                    {
                        <li class="nav-item">@Html.ActionLink("PendingRequests", "PendingRequests", null, new { @class = "nav-link active" })</li>
                        <li class="nav-item">@Html.ActionLink("AllRequests", "AllRequests", null, new { @class = "nav-link active" })</li>
                    }
                </ul>
                @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() != "Home")
                {
                    <div>
                        @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() != "Admin")
                        {
                            @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-dark btn-outline-light" })
                        }
                        @Html.ActionLink("Login", "Login", null, new { @class = "btn btn-dark btn-outline-light" })
                    </div>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content mt-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @if (TempData["Alert"] != null)
    {
        <script language='javascript' type='text/javascript'>alert("@TempData["Alert"]");</script>
    }
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
