@model IEnumerable<DatabaseProject.Models.Student_Instructor_Course_take>

@{
    ViewBag.Title = "AllStudentsTranscript";
}

<h2>AllStudentsTranscript</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student.student_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.f_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.l_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course.course_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semester_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.student.student_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.f_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.l_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course.course_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semester_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
    </tr>
}

</table>
