@model IEnumerable<DatabaseProject.Models.Instructor>

@{
    ViewBag.Title = "instructor_assingedcourses";
}

<h2>instructor_assingedcourses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.instructor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            course_id
        </th>
        <th>
            course_name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        foreach (var course in item.courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.instructor_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => course.course_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => course.name)
                </td>
            </tr>
        }
    }

</table>
